html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #eaeaea;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 137px;
  width: 362px;
}
nav img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  object-fit: cover;
  vertical-align: top;
  margin-top: 11px;
}
nav h1 {
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  vertical-align: top;
  margin-top: 21px;
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: column;
  margin-left: 137px;
  margin-top: 42px;
  margin-right: 136px;
}
header h1 {
  width: 120px;
  height: 28px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
header #imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 27px;
}
header #imgs div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 362px;
  height: 186px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}
header #imgs img {
  width: 362px;
  height: 186px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}
header #imgs P {
  position: absolute;
  margin-left: 41px;
  margin-top: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}
header #cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header #cards div {
  background-color: #FFFFFF;
  width: 362px;
  height: 171px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
header #cards h1 {
  width: 238px;
  height: 36px;
  color: #8A8787;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 10px;
  margin-left: 37px;
  margin-top: 68px;
  line-height: 200%;
}
header #cards img {
  width: 16px;
  height: 16px;
  margin-left: 40px;
  margin-top: 11px;
  vertical-align: top;
}
header #cards h2 {
  width: 34px;
  height: 12px;
  color: #8A8787;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 10px;
  margin-left: 11px;
  margin-top: 14px;
  display: inline-block;
  vertical-align: top;
}

main {
  margin-top: 57px;
  margin-left: 140px;
  display: flex;
  flex-direction: column;
}
main #photos {
  display: flex;
  flex-direction: row;
}
main h1 {
  width: 196px;
  height: 28px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 30px;
}
main #onerow {
  display: flex;
  flex-direction: column;
}
main #onerow img {
  width: 758px;
  height: 430px;
  margin-bottom: 36px;
  border-radius: 5px;
}
main #tworow {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
}
main #tworow img {
  width: 362px;
  height: 212px;
  margin-bottom: 98px;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */